{% extends "gameCollections/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h3> Edit {{ game.name }} for <a href="{% url 'gameCollections:games' genre.id %}">{{ genre }}</a></h3>
{% endblock page_header %}

{% block content %}
    
 
    <form input="{% url 'gameCollections:edit_game' game.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class= "btn btn-primary">Save changes</button>
        {% endbuttons %}
    </form>
{% endblock content %}