{% extends "gameCollections/base.html" %}

{% block page_header %}
    <h3>{{ genre }}</h3>
{% endblock page_header %}

{% block content %}
    
    <h3><a class="btn btn-lg btn-primary" href="{% url 'gameCollections:new_game' genre.id %}" role="button">Add new Game</a></h3>
    
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Game</th>
                <th scope="col">Console</th>
                <th scope="col">Release Date</th>
                <th scope="col"></th>
            <tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <th>{{ game.name }}</th>
                <th>{{ game.console }}</th>
                <th>{{ game.releaseDate }}</th>
                <th><a class="btn btn-lg btn-primary" href="{% url 'gameCollections:edit_game' game.id %}" role="button">Edit Game</a></th>

            </tr>
        {% empty %}
            <p>No games have been added yet.</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}