{% extends "gameCollections/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Add a new game for <a href="{% url 'gameCollections:games' genre.id %}">{{ genre }}</a></h2>
{% endblock page_header %}

{% block content %}

    <form action="{% url 'gameCollections:new_game' genre.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class= "btn btn-primary">Add Game</button>
        {% endbuttons %}
    </form>
 
{% endblock content %}